<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="static/css/jquery.datetimepicker.min.css">
<script type="text/javascript" src="static/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-datepicker.ja.min.js"></script>
</head>
<form name="export" id="export_form" action="/export_csv" method="GET" onsubmit="return formCheck()">
                <!-- 出力する通貨名または金融商品名 -->
                <select name="id_">
                    <option value='1'>ビットコイン</option>
                    <option value="サンプル2">サンプル2</option>
                    <option value="サンプル3">サンプル3</option>
                </select>
                <p></p>
                <!-- エクスポート期間の設定 -->
                <div class="form-group" id="datepicker-daterange">
                    <div class="form-inline">
                        <label>開始日：</label>
                        <input type="text" class="form-control" id="date_sample" name="start" autocomplete="off">
                        <span class="input-group-addon p-2">～</span>
                        <label>終了日：</label>
                        <input type="text" class="form-control" id="date_sample2" name="end" autocomplete="off">
                    </div>
                </div>
                <p></p>

                <!-- 出力形式の指定 -->
                <h4><strong>出力形式</strong></h4>
      
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="choise_pattern" value="0" id="lightcourse"
                            checked>
                        <label class="form-check-label" for="lightcourse">
                            5分おきのデータを出力する
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="choise_pattern" value="1"
                            id="standardcourse">
                        <label class="form-check-label" for="standardcourse">
                            1日単位のデータを出力する
                        </label>
                    </div>
                    <p></p>
              
            </form>
            <!-- 入力フォームここまで -->
            <!-- エクスポートボタン -->
            <button id="export_btn" class="btn btn-secondary">エクスポート</button>

</html>
